.inputs{
    position:relative;
    margin-bottom:25px;
}
.inputs label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    color:#fff;
    pointer-event:none;
    transition: all 0.5s ease-in-out;
}
.inputs input{
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;
}
.inputs input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #e74c3c;
}
.box{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.89);
    border-radius:3px;
    padding:70px 100px;
    color: white;
    justify-content: center;
    align-items: center;
}
.btn{
    color:#fff;
    background-color:#e74c3c;
    outline: none;
    border: 0;
    color: #fff;
    padding:10px 20px;
    text-transform:uppercase;
    margin-top:50px;
    border-radius:2px;
    cursor:pointer;
    position:relative;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
#allSeries,#rating{
    width: 35px;
}
.sea{
    width: 80px;
}
#seasons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}
#isSeries{
    font-family: Arial,sans-serif;
}
